<a href="https://colab.research.google.com/github/eksq1/hello-github/blob/main/inclass/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

# 엑셀 파일 불러오기
df = pd.read_excel('/content/drive/MyDrive/drama/TMDB_중국드라마.xlsx')  # 파일 경로 변경 필요

# 날짜 컬럼 확인 (예: '방영일' 컬럼)
date_column = '방영일'  # 실제 컬럼명으로 변경 필요

# 날짜 형식 통일하기
def unify_date_format(date_value):
    if pd.isna(date_value):  # 결측값 처리
        return date_value
    elif isinstance(date_value, str):  # 문자열인 경우
        return pd.to_datetime(date_value).strftime('%Y-%m-%d')
    elif isinstance(date_value, (int, float)):  # 숫자로 된 엑셀 날짜
        return (pd.Timestamp('1899-12-30') + pd.Timedelta(days=date_value)).strftime('%Y-%m-%d')
    else:  # datetime 객체인 경우
        return date_value.strftime('%Y-%m-%d')

# 날짜 형식 변환 적용
df[date_column] = df[date_column].apply(unify_date_format)

# 결과 확인
print(df.head())

# 변환된 파일 저장 (필요시)
df.to_excel('formatted_file.xlsx', index=False)

      제목                                                 설명         방영일   평점  \
0     절요  교가 아씨는 오기를 가득하며 위가 후작 나리는 용맹하고 천생연분인 한 쌍이여 신통하...  2025-05-13  9.5
1   백월범성  인간 소녀, 백삭은 어릴 적부터 신선이 되는 길을 찾다, 극역의 요왕인 범월을 만나...  2025-01-07  8.2
2    장해전  옛 제국 '대융극'의 천문 담당 관원 쾨뚜오는 모함으로 하루아침에 가문이 몰살당한다...  2025-05-18  7.0
3   곡주부인  조정에 교주를 진상해야 하는 어민들은 인어의 눈물로 교주를 얻는다. 이 때문에 어촌...  2021-11-10  5.8
4  유리미인살  천계, 요마계, 인간계의 삼계가 공존하던 시대에 수라왕은 요마 연합군을 결성해 천계...  2020-08-06  8.7

                                                 포스터
0  https://image.tmdb.org/t/p/original/AZdlvg8Rij...
1  https://image.tmdb.org/t/p/original/5toSGvdIqh...
2  https://image.tmdb.org/t/p/original/iSiB2OmV5W...
3  https://image.tmdb.org/t/p/original/qS7YsiOLTY...
4  https://image.tmdb.org/t/p/original/orix7uY3aV...

In [ ]:
import pandas as pd

# 1. 엑셀 파일 불러오기
df = pd.read_excel('TMDB_중국숫자변환.xlsx')  # 원본 파일 경로

# 2. 날짜 형식 통일 (이전 코드 참조)
# [날짜 처리 코드 추가]

# 3. CSV 저장 전 특수 문자/쉼표 처리
def clean_text(text):
    if pd.isna(text):
        return ""
    text = str(text)
    # 문제되는 문자 치환
    text = text.replace(',', ' ')  # 쉼표 → 공백
    text = text.replace('\n', ' ')  # 줄바꿈 → 공백
    text = text.replace('"', "'")  # 쌍따옴표 → 홑따옴표
    return text.strip()

# 모든 컬럼에 적용
df = df.applymap(clean_text)

# 4. CSV로 저장 (UTF-8 인코딩)
df.to_csv('cleaned_data.csv',
          index=False,
          encoding='utf-8-sig',  # 한글 깨짐 방지
          quotechar='"',  # 텍스트 감싸는 문자 지정
          escapechar='\\')  # 특수 문자 이스케이프

print("CSV 변환 완료!")

CSV 변환 완료!

<ipython-input-13-435a6c8fa610>:21: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(clean_text)

In [14]:
import pandas as pd

# 엑셀 파일 불러오기
df = pd.read_excel('/content/drive/MyDrive/drama/TMDB_한국_드라마.xlsx')  # 파일 경로 변경 필요

# 날짜 컬럼 확인 (예: '방영일' 컬럼)
date_column = '방영일'  # 실제 컬럼명으로 변경 필요

# 날짜 형식 통일하기
def unify_date_format(date_value):
    if pd.isna(date_value):  # 결측값 처리
        return date_value
    elif isinstance(date_value, str):  # 문자열인 경우
        return pd.to_datetime(date_value).strftime('%Y-%m-%d')
    elif isinstance(date_value, (int, float)):  # 숫자로 된 엑셀 날짜
        return (pd.Timestamp('1899-12-30') + pd.Timedelta(days=date_value)).strftime('%Y-%m-%d')
    else:  # datetime 객체인 경우
        return date_value.strftime('%Y-%m-%d')

# 날짜 형식 변환 적용
df[date_column] = df[date_column].apply(unify_date_format)

# 결과 확인
print(df.head())

# 변환된 파일 저장 (필요시)
df.to_excel('TMDB_한국숫자변환.xlsx', index=False)

               제목                                                 설명  \
0            약한영웅  연시은은 공부 외엔 관심이 없지만 걸어온 싸움을 피하지도 않는다. 타고난 두뇌로 유...
1          오징어 게임  빚에 쫓기는 수백 명의 사람들이 서바이벌 게임에 뛰어든다. 거액의 상금으로 새로운 ...
2         폭싹 속았수다  당차고 야무진 소녀와 우직하고 헌신적인 소년. 제주 바닷가 작은 마을에서 한 뼘씩 ...
3  세상에서 제일 예쁜 내 딸  나는 왜 툭하면 엄마에게 짜증을 낼까. 나는 왜 툭하면 엄마에게 모든 화풀이를 하는...
4            여신강림  외모 콤플렉스를 가지고 있다가 화장을 통해 여신이 된 주경과 남모를 상처를 간직한 ...

          방영일     평점                                                포스터
0  2022-11-18  8.500  https://image.tmdb.org/t/p/w500/jXd83QZhBDAFno...
1  2021-09-17  7.862  https://image.tmdb.org/t/p/w500/yACIAqAkSLkX4c...
2  2025-03-07  8.889  https://image.tmdb.org/t/p/w500/koMkV9qm0PEZHD...
3  2019-03-23  7.300  https://image.tmdb.org/t/p/w500/oTYSS6m3LXw4jg...
4  2020-12-09  8.282  https://image.tmdb.org/t/p/w500/gaCOvKGG2qEnsi...

In [15]:
import pandas as pd

# 엑셀 파일 불러오기
df = pd.read_excel('/content/drive/MyDrive/drama/TMDB_일본_드라마.xlsx')  # 파일 경로 변경 필요

# 날짜 컬럼 확인 (예: '방영일' 컬럼)
date_column = '방영일'  # 실제 컬럼명으로 변경 필요

# 날짜 형식 통일하기
def unify_date_format(date_value):
    if pd.isna(date_value):  # 결측값 처리
        return date_value
    elif isinstance(date_value, str):  # 문자열인 경우
        return pd.to_datetime(date_value).strftime('%Y-%m-%d')
    elif isinstance(date_value, (int, float)):  # 숫자로 된 엑셀 날짜
        return (pd.Timestamp('1899-12-30') + pd.Timedelta(days=date_value)).strftime('%Y-%m-%d')
    else:  # datetime 객체인 경우
        return date_value.strftime('%Y-%m-%d')

# 날짜 형식 변환 적용
df[date_column] = df[date_column].apply(unify_date_format)

# 결과 확인
print(df.head())

# 변환된 파일 저장 (필요시)
df.to_excel('TMDB_일본숫자변환.xlsx', index=False)

                   제목                                                 설명  \
0                 병아리  산간 마을에서 자란 여주인공이 돈 벌러 간 채 행방불명이 된 아버지를 찾기 위해 도...
1                 아마짱  《아마짱》(일본어: あまちゃん)은, 2013년도 상반기에 NHK에서 제작되어, 종합...
2           결혼 못하는 남자  2006년 7월 Fuji TV에서 방영을 시작한 드라마. 40세의 생일을 앞둔 건축...
3  닥터 X ~외과의 다이몬 미치코~                      천재적인 수술 실력을 가진 프리랜서 외과 의사 이야기
4                  해님  나가노 아즈미노와 마츠모토를 배경으로 전쟁 전, 전시 중, 전후를 해님과 같이 웃는...

          방영일   평점                                                포스터
0  2017-04-03  8.2  https://image.tmdb.org/t/p/w500/utimgBSieMsvJp...
1  2013-04-01  8.3  https://image.tmdb.org/t/p/w500/xWC8HFCflXr8QN...
2  2006-07-04  8.0  https://image.tmdb.org/t/p/original/8bibuWvq94...
3  2012-10-18  7.4  https://image.tmdb.org/t/p/w500/xrn3UDlIU8yMnM...
4  2011-04-04  9.0  https://image.tmdb.org/t/p/w500/hcesyxtOgKi8iG...

In [16]:
import pandas as pd

# 1. 엑셀 파일 불러오기
df = pd.read_excel('TMDB_한국숫자변환.xlsx')  # 원본 파일 경로

# 2. 날짜 형식 통일 (이전 코드 참조)
# [날짜 처리 코드 추가]

# 3. CSV 저장 전 특수 문자/쉼표 처리
def clean_text(text):
    if pd.isna(text):
        return ""
    text = str(text)
    # 문제되는 문자 치환
    text = text.replace(',', ' ')  # 쉼표 → 공백
    text = text.replace('\n', ' ')  # 줄바꿈 → 공백
    text = text.replace('"', "'")  # 쌍따옴표 → 홑따옴표
    return text.strip()

# 모든 컬럼에 적용
df = df.applymap(clean_text)

# 4. CSV로 저장 (UTF-8 인코딩)
df.to_csv('TMDB_한국.csv',
          index=False,
          encoding='utf-8-sig',  # 한글 깨짐 방지
          quotechar='"',  # 텍스트 감싸는 문자 지정
          escapechar='\\')  # 특수 문자 이스케이프

print("CSV 변환 완료!")

CSV 변환 완료!

<ipython-input-16-51f411b821df>:21: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(clean_text)

In [17]:
import pandas as pd

# 1. 엑셀 파일 불러오기
df = pd.read_excel('TMDB_일본숫자변환.xlsx')  # 원본 파일 경로

# 2. 날짜 형식 통일 (이전 코드 참조)
# [날짜 처리 코드 추가]

# 3. CSV 저장 전 특수 문자/쉼표 처리
def clean_text(text):
    if pd.isna(text):
        return ""
    text = str(text)
    # 문제되는 문자 치환
    text = text.replace(',', ' ')  # 쉼표 → 공백
    text = text.replace('\n', ' ')  # 줄바꿈 → 공백
    text = text.replace('"', "'")  # 쌍따옴표 → 홑따옴표
    return text.strip()

# 모든 컬럼에 적용
df = df.applymap(clean_text)

# 4. CSV로 저장 (UTF-8 인코딩)
df.to_csv('TMDB_일본.csv',
          index=False,
          encoding='utf-8-sig',  # 한글 깨짐 방지
          quotechar='"',  # 텍스트 감싸는 문자 지정
          escapechar='\\')  # 특수 문자 이스케이프

print("CSV 변환 완료!")

CSV 변환 완료!

<ipython-input-17-5314264d38e3>:21: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(clean_text)

In [23]:
import pandas as pd
import numpy as np

# 1. 데이터 불러오기
df_kr = pd.read_csv("TMDB_한국.csv", encoding='utf-8-sig').assign(국가="한국")
df_jp = pd.read_csv("TMDB_일본.csv", encoding='utf-8-sig').assign(국가="일본")
df_cn = pd.read_csv("TMDB_중국.csv", encoding='utf-8-sig').assign(국가="중국")

# 2. 국가별로 개별 셔플 후 합치기 (계층적 셔플 효과)
shuffled_kr = df_kr.sample(frac=1, random_state=42)
shuffled_jp = df_jp.sample(frac=1, random_state=42)
shuffled_cn = df_cn.sample(frac=1, random_state=42)

combined = pd.concat([shuffled_kr, shuffled_jp, shuffled_cn])

# 3. 전체 데이터 추가 셔플
shuffled_df = combined.sample(frac=1, random_state=42).reset_index(drop=True)

# 4. 국가별 분포 확인
print("최종 셔플 후 국가별 분포:")
print(shuffled_df["국가"].value_counts())

# 5. 저장
shuffled_df.to_csv("shuffleddata.csv",
                 index=False,
                 encoding='utf-8-sig')
print("✅ 계층적 셔플 완료! (국가별 균등 분포 유지)")

최종 셔플 후 국가별 분포:
국가
한국    110
일본    100
중국     99
Name: count, dtype: int64
✅ 계층적 셔플 완료! (국가별 균등 분포 유지)